@import "headingbar.css";
@import "search.css";
@import "chocklist.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

main {
    margin: auto;
    max-width: 900px;
    padding: 16px;
}

.judul {
    font-size: 1.5em;
    font-style:oblique;
    text-align: center;
}